<div class='container'>
  <div class="page-header">
    <h2>MiladiYouTube Search
      <img style="float: right;" *ngIf="loading" src='assets/images/loading.gif' />
      <h5 *ngIf="loading">Chargement ...</h5>
    </h2>
  </div>

  <div class="row">
    <div class="input-group input-group-lg col-sm-8 col-md-8">
      <app-search-box (loading)="loading = $event" (results)="updateResults($event)"></app-search-box>
    </div>
  </div>
  <p>{{message}}</p>
  <div class="row">
    <div class="col-sm-12 col-md-9 col-xl-9">
      <app-search-result *ngFor="let result of results" [result]="result"></app-search-result>
    </div>
  </div>
</div>

